Source: eta-desktop
Section: metapackages
Priority: optional
Maintainer: Yunusemre Şentürk <yunusemre.senturk@pardus.org.tr>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: http://www.pardus.org.tr

Package: eta-desktop
Architecture: any
Depends: ${misc:Depends},
 ark,
 desktop-base,
 eog,
 eta-black,
 eta-ebalogin,
 eta-engine,
 eta-gestemas,
 eta-help,
 eta-history,
 eta-icon-theme,
 eta-keyboard,
 eta-peach,
 eta-pen,
 eta-plasma-themes,
 eta-register,
 eta-slack,
 eta-settings,
 eta-soundfix,
 eta-tif,
 eta-touchdrv,
 eta-widgets,
 firefox-esr | firefox-esr:any | firefox-esr:armhf | firefox | www-browser | www-browser:any,
 firefox-esr-l10n-tr,
 freespacenotifier,
 gvfs,
 gvfs-backends,
 libreoffice,
 libreoffice-gtk,
 libreoffice-kde,
 libreoffice-l10n-tr,
 kcalc,
 kdm,
 kmix,
 ksnapshot,
 kde-baseapps,
 kde-config-gtk-style,
 kde-runtime,
 kde-workspace,
 kde-l10n-tr,
 okular,
 plasma-desktop,
 plasma-nm,
 polkit-kde-1,
 pardus-archive-keyring,
 pardus-x11-settings,
 xorg,
 xserver-xorg-input-all,
 xserver-xorg-video-all
Recommends:
 kdesudo,
 plymouth,
 plymouth-themes,
 pulseaudio,
 sweeper,
 udisks2,
 upower,
 vlc,
 xdg-utils
Description: Meta-package with dependencies ETAP desktop provided by Pardus
 This metapackage depends on Pardus packages that should be intalled on all
 desktop installations of Pardus.

